@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color:hsl(212, 45%, 89%);
    color:black;
   font-family: "Outfit", sans-serif;
  
   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.centered {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    
    
  }
img{
    max-width: 100%;
    margin:13px;
    border-radius: 5%;
}
 
h3 {
    margin: 10px auto;
    padding:20px;
    font-size: 19px;
    color: hsl(218, 44%, 22%);
   text-align: center;
}
  
  p {
   
   margin: 10px auto;
    padding: 0 20px 20px;
    font-size: 13px;
    color: hsl(220, 15%, 55%);
    text-align: center;
  }

  @media screen and (max-width: 375px) {
    img {
      max-width: 100%;
      height: auto;
    }
  
    p {
      font-size: 12px;
    }
    .centered h3 {
        font-size: 12px;
      }
      .container{
         width:80%; 
      }
  }
  
  
  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
      margin: 0 auto;
     
    }
  }

