@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color:hsl(212, 45%, 89%);
    color:black;
   font-family: "Outfit", sans-serif;
  
   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    
}

.centered {
    display: flex;
    flex-direction: column;
    width: 21%;
    max-height: 60%;   
    max-width: 90%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    overflow: hidden;
    
  }
img{
    max-width: 100%;
    margin:13px;
    border-radius: 5%;
}
 
h3 {
        
  text-overflow: ellipsis;
    padding:15px;
    font-size: 19px;
    color: hsl(218, 44%, 22%);
   text-align: center;
}
  
  p {
   
      
  text-overflow: ellipsis;
    padding: 2px 15px 15px;
    font-size: 13px;
    color: hsl(220, 15%, 55%);
    text-align: center;
  }
  footer{
    text-align: center;
    font-size: 18px;
  }

